@import "../../mixins";

.small-head {
  @include text-style;
  font-size: 2vw;
  font-weight: 600;
  line-height: 2.5vw;
}

.large-head {
  @include heading-style;
  font-size: 2.6vw;
  font-weight: 700;
  line-height: 3.2vw;
}

.para-style {
  @include paragraph-style;
  font-size: 1.9vw;
  line-height: 2.6vw;
  font-weight: 500;
}

.container-col-style {
  @include container-column-style;
  gap: 0.5vw;
  margin: 1vw;
}
