@import "./variables.module.scss";

@mixin text-style {
  font-style: $fontStyle;
  text-align: $textAlign;
}

@mixin paragraph-style {
  @include text-style;
  color: $colorParagraph;
}

@mixin heading-style {
  @include text-style;
  color: $colorCommon;
}

@mixin image-responsive {
  max-inline-size: 100%;
  block-size: auto;
}

@mixin flex-style {
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
}

@mixin container-column-style {
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
}
