//Colors
$colorCommon: #ffffff;
$colorParagraph: rgba(255, 255, 255, 0.69);
$colorPink: #ff6392;
$colorYellow: #ffbf5f;
$colorAquamarine: #4effbf;
$colorNavyBlue: #618dff;

//Font Style
$textAlign: left;
$fontStyle: normal;

:export {
  colorPink: $colorPink;
  colorYellow: $colorYellow;
  colorAquamarine: $colorAquamarine;
  colorNavyblue: $colorNavyBlue;
}
